/**Use dot for classes**/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  color: brown;
  justify-content: space-between;
  align-items: center;
}
.nav-1 {
  display: flex;
  justify-content: space-between;
  width: 18%;
  align-items: center;
}
.button {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  border: 1px solid #326891;
  font-size: 11px;
  color: #fff;
  text-decoration: none;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 700;
}
.button-primary {
  background-color: #567b95;
}
.button-primary:hover {
  background-color: #326891;
}
.heading-primary {
  font-family: "Lobster", cursive;
  font-size: 25px;
  word-spacing: 2.5px;
  letter-spacing: 1.5px;
  color: black;
}
